@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --indigo-500: #6366f1;
  --blue-500: #3b82f6;
  --red-500: #ef4444;
  --green-500: #22c55e;
  --yellow-500: #eab308;
  --pink-500: #ec4899;
  --zinc-500: #71717a;
  --gray-500: #6b7280;
  --base-500: #A0AEC0;
  --base-200: #E2E8F0;
  --base-300: #E2E8F0;
  --base-400: #CBD5E0;
  --main-500: #6366f1;
  --main-400: #7F9CF5;
  --main-200: #c3dafe;
  --main-100: #EBF4FF;
  --solid: #FFF;
  --solid-900: #4a5568;
}


body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.theme-blue {
  background-color: var(--blue-500);
}

.theme-red {
  background-color: var(--red-500);
}

.theme-green {
  background-color: var(--green-500);
}

.theme-indigo {
  background-color: var(--indigo-500);
}

.theme-pink {
  background-color: var(--pink-500);
}

.theme-yellow {
  background-color: var(--yellow-500);
}

.desktop {
  width: 100%;
  position: relative;
}

.tablet {
  width: 768px;
  position: relative;
  height: 736px;
}

.mobile {
  width: 450px;
  position: relative;
  height: 844px;
}